.ors-colorpicker {
  text-align: center;
}

.ors-colorpicker .ors-colorpicker__label {
  font-weight: bold;
}

.ors-colorpicker .ors-colorpicker__active {
  font-weight: bold;
  text-decoration: underline;
}

.ors-colorpicker .ors-colorpicker__black {
  color: black;
}

.ors-colorpicker .ors-colorpicker__red {
  color: red;
}

.ors-colorpicker .ors-colorpicker__blue {
  color: blue;
}

.ors-colorpicker .ors-colorpicker__green {
  color: green;
}
